<div class="card">
	<div class="cardprintings">
			<% var printing = card.printings[0] %>
			<div class="cardprinting">
				<div class="cardimage">
					<a href="/card/<%= card.name %>">
						<img src="<%= imageBaseUrl + printing.id + '.jpg' %>" alt="<%= card.name + " - " + printing.cardSetName %>" title="<%= card.name + " - " + printing.cardSetName %>"/>
					</a>
				</div>
			</div>
	</div>
	<div class="cardinfo">
		<div class="cardattribute">
			<div class="cardtitle">Name:</div>
			<div class="cardvalue"><%= card.name %></div>
		</div>
		<div class="cardattribute">
			<div class="cardtitle">Cost:</div>
			<div class="cardvalue"><%= card.manaCost %></div>
		</div>
		<div class="cardattribute">
			<div class="cardtitle">CMC:</div>
			<div class="cardvalue"><%= card.convertedManaCost %></div>
		</div>
		<div class="cardattribute">
			<div class="cardtitle">Type:</div>
			<div class="cardvalue"><%= card.type? card.type: card.types %></div>
		</div>
		<div class="cardattribute">
			<div class="cardtitle">Text:</div>
			<div class="cardvalue"><%= card.description %></div>
		</div>
		<% if(card.type.indexOf('Creature') != -1) { %>
			<div class="cardattribute">
				<div class="cardtitle">P/T:</div>
				<div class="cardvalue"><%= card.power %> / <%= card.toughness %></div>
			</div>
		<% } %>
	</div>
</div>